<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
           <property name="driverClassName" value="org.postgresql.Driver"/>
           <property name="url" value="jdbc:postgresql://#{systemEnvironment['DB_IP']}:5432/mipmapusers"/>
           <property name="username" value="webmipmap"/>
           <property name="password" value="webmipmap"/>
    </bean>
    
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
      <property name="dataSource"  ref="dataSource" />    
   </bean>

   <bean id="applicationContextProvder" class="gr.aueb.context.ApplicationContextProvider"/>
</beans>